<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556816145510-tkr78d4ksggdv2ukfgqlkg9so8agdpuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556816145510-tkr78d4ksggdv2ukfgqlkg9so8agdpuc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556816145510-93mhcs489pdbdeh24oi2hgeau29878mj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFT-3bgCXMa-jZuKgIMUyf69svrHBc4gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>556816145510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pitchmeapp</string>
	<key>PROJECT_ID</key>
	<string>pitch-me-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pitch-me-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556816145510:ios:14fbccfb23bc9b19b0e1a7</string>
</dict>
</plist>